.about{
    color: darkblue;
    text-align: center;
    font-size:3rem;
    margin-top: 3rem;
}
/* Join Now */
.footer-{
    background-color:#14213d;
    margin-top: 5em;
    margin-bottom: -13rem;
}

.joinSection,.footerlinksContainer{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 1em;
}

.joinSection{
    display: flex;
    align-items: center;
    padding: 3em 0em;
    color: white;
}

.joinSection .joinDesc{
    width: 80%;
}

.joinSection button{
    height: auto;
}



.footerlinksContainer{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: space-between;
    padding-top: 5em;
    border-top: 1px solid var(--lightgrey);
}

.footersociallinkContainer{
    margin-top: 1em;
}

.footerAboutus .sociallinkContainer{
    justify-content: flex-start;
}

.footerlink{
    display: flex;
    flex-direction: column;
    color: white;
}

.linkTitle{
    font-size: 1.5rem;
    margin-bottom: .5em;
}

.footerlink a{
    color: white;
    margin-bottom: 1em;
    transition: all .5s ease-in-out;
}

.footerlink a:hover{
    transform: translateX(10px);
}
.darkPara{
    color:white;
}




@media screen and (min-width:700px) {
    .footerlinksContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.copyright{
    color: white;
    margin-top: 5rem;
}
.footer-img1{
    margin-top: -1rem;
}
.contactSection{
    margin-top: 2em;
}
.contactformContainer{
    display: flex;
    flex-direction: column;
    order: 1;
}

.contactPic{
    order: 0;
    width: 150px;
    background-color: rgba(241, 241, 241,.05);
    border-top-left-radius: 20%;
    
}

.contactPic img{
    width: 100%;
}

.contactForm div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.contactInput{
    width: 100%;
    font-size: 1.1rem;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 20px;
    border: none;
    outline: none;
    border: 2px solid #14213d;
    background-color: transparent;
    resize: none;
    color: white;
    overflow-x: hidden;
}

.contactInput::placeholder{
    color: var(--lightgrey);
    text-transform: capitalize;
}

.contactBtn{
    width: 200px;
}

.addressHeader{
    text-align: center;
    color: var(--white);
    margin-bottom: 2em;
}

.address{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.eachAddress h1{
    color: var(--white);
    margin-bottom: .5em;
    font-size: 1.5rem;
}

.eachAddress p{
    margin-bottom: 1em;
    
}

@media screen and (min-width:800px) {
    .contactformContainer{
        order: 0;
    }
    
    .contactPic{
        order: 1;
    }

    .address{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* About Us */
.aboutusDesc{
    order: 0;
}

.statusContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.status h1{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: lighter;
}

.status h1 b{
    font-weight: bold;
    font-size: 2rem;
}
