.flex-container{
    display:flex;
    flex-wrap: wrap;
}
.main-img{
    width: calc(25% - 10rem);
    padding: 5rem;
}
.main-content{
    padding-top: 5rem;
    width: 75%;
    font-size: 1.25rem;
    
}
.spacing{
    justify-content: space-evenly;
}
.title{
    color: darkblue;
    font-size: 1.5rem;

}
.body-content{
    color:#050609 ;
    font-size: 1rem;
    padding-right: 5rem;
    margin-right: 5rem;

}